<div id="yourQuote" class="container form-style-6">
  <h1>Add a Quote:</h1>
    <form (ngSubmit)="createNewQuote(myForm)" #myForm="ngForm">
      <input type="text" name="quote"  placeholder="Write your quote here" [(ngModel)]="quote" required />
      <input type="text" name="author" placeholder="Quote Author"  [(ngModel)]="author" required />
      <input class="button" type="submit" value="Submit" />
    </form>
</div>


<div *ngFor="let oneQuote of allUserQuotes">
       <div class="col-sm-4 ">
              <div id="{{ oneQuote.order }}" class="panel  gridofQuotes">
                      <blockquote>
                         <em>"{{ oneQuote.quote }}"</em>
                         <br/>

                         <span class="authorGrid">
                       - {{ oneQuote.author }}
                         </span>
                      </blockquote>


                    <div class="panel-footer">
                          <a href="#" class="category">{{ oneQuote.category }}</a>
                          <a href="api/quotes/{{oneQuote._id}}" class="seeMore">More like this</a>
                    </div>
              </div>
        </div>
 </div>

 <app-quotes-grid></app-quotes-grid>
