<div id="yourQuote">
  <h3>Add a Quote:</h3>

  <form (ngSubmit)="createNewQuote(myForm)" #myForm="ngForm">
      <p>Quote:
       <input type="text" name="quote" [(ngModel)]="quote" required />
      </p>
      <p>Author Name:
        <input type="text" name="author" [(ngModel)]="author" required />
      </p>
      <button type="submit"> Submit </button>
    </form>
</div>

<div *ngIf="submited">
  <div *ngFor="let oneQuote of allUserQuotes">
    Quote:  {{ oneQuote.quote}}
    Name:  {{ oneQuote.author}}
  </div>
</div>
