
<div  class="container quote-list">
    <div class="row ">
        <div *ngFor="let oneQuote of quoteList">
               <div class="col-sm-4 ">
                      <div id="{{ oneQuote.order }}" class="panel  gridofQuotes">

                              <blockquote>
                                 <em>"{{ oneQuote.quote }}"</em>
                                 <br/>

                                 <span class="authorGrid">
                               - {{ oneQuote.author }}
                                 </span>
                              </blockquote>


                            <div class="panel-footer">
                                  <a href="#" class="category">{{ oneQuote.category }}</a>
                                  <a href="api/quote/{{oneQuote._id}}" class="seeMore">More like this</a>
                            </div>
                      </div>
                </div>
         </div>
     </div>
</div>
