/* You can add global styles to this file, and also import other style files */



/* ------------------------ SLIDER NAVIGATION-----------------------  */
/* ------------------------  -----------------------  */
.fa-chevron-right, .fa-chevron-left {
    display: none;
}

.slider:hover .fa-chevron-right   {
  display: block;
}
.slider:hover .fa-chevron-left  {
  display: block;
}

.rslides_nav.rslides1_nav.prev {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 3.2em;
  color: #03A9F4;
  top: 38%;
  left: 22vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}


.rslides_nav.rslides1_nav.next {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 3.2em;
  color: #03A9F4;
  top: 38%;
  right: 22vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
